.slick__box {
  width: 100%;
  height: 200px;
}
.slick__box .slick__box__1 {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.slick__box .slick__box__2 {
  width: 100%;
  height: 100%;
  background-color: red;
}

.slick__box .slick__box__3 {
  width: 100%;
  height: 100%;
  background-color: black;
}

.slick__box .slick__box__4 {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.slick__box .slick__box__5 {
  width: 100%;
  height: 100%;
  background-color: gold;
}

.slick__box .slick__box__6 {
  width: 100%;
  height: 100%;
  background-color: green;
}

.controll {
  margin-top: 50px;
}
